#wrap11{
    width: 96%;
    background: rgba(0,0,0,0.4);
    border-radius: 3px;
    box-shadow: 1px 4px 2px 4px #1e1d1d;
    -webkit-box-shadow: 1px 4px 2px 4px #1e1d1d;
    overflow: hidden;
    height: 100%;
    margin: 0% auto;
    padding: 0;
}
.Capa-User {
    position: relative;
    height: 400px;
    box-sizing: border-box;
    margin-top: 66px;
}
.foto-user {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    opacity: 0;
    top: 50%;
    cursor: pointer;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    transition-duration: .2s;
    background: rgba(25, 24, 24, 0.85);
}

.foto-user-static {
    width: 300px;
    height: 300px;
    position: absolute;
    left: 2.5%;
    border-radius: 50%;
    z-index: 1;
}

.foto-user img {
    width: 100%;
    height: 100%;
}

.nick p{
    float:left;
}

.UPLOADER{
    margin: 21px 0px;
    background: #f44336;
    padding: 5px;
    position:  relative;
    font-weight: bold;
    color: #333333;
    font-size: 12px;
    float:  left;
    border-radius: 2px;
}

.NICK{
    font-size: 29px;
    margin: 19px 16px 10px 0px;
    padding: 0;
    color: white;
    float:  left;
    margin-left: 342px;
}

div.Info-User{
  position:relative;
  float: left;
  padding: 35px 0px;
}

.Info-plus-User {
    background: rgba(226, 226, 226, 0.65);
    height: auto;
    position: relative;
    float: left;
    border-radius: 12px;
    margin-left: 38px;
    padding: 14px;
    padding-left: 305px;
}

.Info-plus-User p {
    margin: 2px;
    color: rgba(51, 51, 51, 0.77);
    float: left;
    clear: both;
    font-family:  'Roboto';
}

.BUTTON {
    text-decoration: none;
    color: white;
    text-decoration-line: none;
    margin: 8px 2px;
    font-size: 13px;
    padding: 15px;
    position: relative;
    border-radius: 2px;
    float: left;
    background: rgba(28, 28, 28, 0.91);
}
.BUTTON:hover {
    background: #ff4800;
}

.BUTTON:active {
    color: rgba(28, 28, 28, 0.91);
    background:#ff6600;
}
.Edit {
    width: 34px;
    height: 34px;
    position: absolute;
    bottom: 5%;
    right: 14%;
    border: 1px solid #333333b3;
    background: #f0f8ffb3;
    text-align: center;
    font-size: 1.3em;
    border-radius: 3px;
    cursor:pointer;
}
.Edit:hover {background:  white;}
.Favoritos {
    float: right;
    top: 16px;
    background: #ed2553;
    position: absolute;
    border-radius: 3px;
    right: 1%;
    cursor: pointer;
}
.Favoritos a {
    padding: 14px;
    text-decoration:none;
    font-family: arial;
    color: white;
    float: left;
}

p.designerNOME {
    position:  absolute;
    font-weight: 800;
    font-size: 50px;
    right: 4%;
    font-style: italic;
    user-select:  none;
    -webkit-user-select: none;
    font-family: 'Roboto';
    color: rgba(51, 51, 51, 0.42);
}

.navOP {
    margin:  0;
    top: 10px;
    padding: 0;
    position: absolute;
    padding-left: 15px;
    bottom:  0%;
    height: 47px;
    width: 100%;
    overflow: hidden;
}

p.OP_nav {
    color: #bbb8b8;
    margin: 0 auto;
    position:  relative;
    padding: 14px;
    font-weight: 600;
    font-size: 14px;
    transform: skewX(25deg);
}
.tituloOP {
    float: left;
    position: relative;
    cursor: pointer;
    padding: 0;
    z-index: 2;
    transform: skewX(-25deg);
    margin: 0px 1px;
    text-align: -webkit-center;
    align-self: center;
    background: rgb(28, 28, 28);
    vertical-align: middle;
    border-radius: 5px;
    min-width: 91px;
    border-left: 4px solid #f44336;
}

.tituloOP:hover {
    background: rgba(6, 227, 243, 0.8);
}

.tituloOP:hover .OP_nav {
    background: none;
    color: #333333;
}

.caixa-style {
    position:  relative;
    float:  left;
    width:  100%;
    height: 76px;
}

.INP-ControllPerfil {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 3;
    cursor: pointer;
    bottom: 0;
    opacity: 0;
}

.listaPerfil {
    position: relative;
    clear: both;
    bottom: -46%;
    float:  left;
    left: 50%;
    transform: translateX(-50%);
}

.ANIME-OBRA {
    width: 300px;
    margin: 6px;
    max-height: 444px;
    min-height: 444px;
    position: relative;
    display: inline-block;
}
.ANIME-OBRA img {
    width: 100%;
    height: 444px;
    float: left;
}
.INFO-ANIME {
    background: rgba(0,0,0,0.5);
    position: absolute;
    width: 100%;
    height: 100%;
}

.LINK-ANIMEE {
  position: absolute;
  width: 100%;
  height: 100%;
}

.ANIME-OBRA:hover .INFO-ANIME{
  opacity: 1;
}
.NOME-ANIME {
    position: relative;
    margin: 0;
    font-family: arial;
    float: left;
    font-size: 19px;
    color: white;
    white-space: initial;
    padding: 0;
}
.generos-add {
    font-family: 'Roboto';
    font-size: 11px;
    float: left;
    clear: both;
    color: red;
    white-space: initial;
    margin: 0;
    padding: 0;
}
.Jumento-Cavalinho {
    position: absolute;
    top: 50%;
    padding: 12px 20px;
    width: calc(100% - 40px);
    background: #1b1a1a;
    transform: translateY(-50%);
}

.tituloOP:hover {
    background: #F44336;
    border-left: 4px solid #333333;
}

.tituloOP:active {
    transform: skewX(-25deg) scale(0.96);
}

#userfile {
    display: none;
}

.botaoUpFoto {
    position: absolute;
    top: 120%;
    right: 38%;
    border: none;
    outline: none;
    padding: 7px;
    color: #f5f5f5;
    background: #F44336;
    border-radius: 4px;
    display: none;
}

.hoverLabel {
    position: absolute;
    height: 300px;
    width: 300px;
    top: 50%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    border-radius: 50%;
    left: 15px;
    box-sizing: content-box;
    transform: translateY(-50%);
    box-shadow:  0 0 6px 1px #23201e;
}

.foto-user:hover {opacity: 1;}

p.descri {position: absolute;left: 50%;top: 50%;color: hsl(0, 5%, 64%) !important;transform: translate(-50%, 103%);z-index: 3;font-weight: 700;font-family: arial;}

.ICOcamera {
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 58px;
    transform: translate(-50%,-72%);
}

.Capa-User:before {
    width: 100%;
    height: 100%;
    position: absolute;
    content: "";
    display: block;
    background: rgba(25, 24, 24, 0.67);
}

.TERCEIRO {
    margin-left: 20px;
    box-shadow: 0px 0px 13px -1px #191818d6;
}

.contentCurtir {
    position: absolute;
    top: 94%;
    left: 29%;
}

.btnCurtir {
    border: none;
    outline: none;
    background: #c55f89;
    color: #f5f5f5;
    padding: 7px 12px 7px 35px;
    border-radius: 4px;
}